.button {
  cursor: pointer;
}

.button-small {
  padding: var(--spacing-xxs) var(--spacing-xs);
}

.button-medium {
  padding: var(--spacing-xs) var(--spacing-sm);
}

.button-large {
  padding: var(--spacing-sm) var(--spacing-md);
}
